# dependencies
node_modules

# vscode
.vscode

# config files
.env
.env.development
.env.production
.env.staging

# media files
*.mp4
!desert.mp4

# macOS
.DS_STORE

# compiled
dist/
build/
.vercel
.env*.local
